// colors
$primary-color: #007bff;        // Blue
$secondary-color: #6c757d;      // Gray
$success-color: #28a745;        // Green
$warning-color: #ffc107;        // Yellow
$error-color: #dc3545;          // Red
$text-color: #333;              // Black
$background-color: #f8f8f8;     // Off-white

// padding / margin variables
$header-height: 80px;
$padding-standard: 20px;
$padding-small: 10px;
$padding-extra-small: 5px;

body {
  margin: 0;
  padding: 0;
  font-family: Roboto, "Helvetica Neue",
  sans-serif;
  background: $background-color;
  color: $text-color
}

.error-snackbar {
  background-color: #ff3d00;
  color: white;
}
